.beers-container {
    justify-content: center;
    margin: 10vh 1vw;
    height: 10vh;
}

.loading-container {
    display: flex;
    justify-content: center;
}

.spinner {
    margin-top: 30vh;
    border: 0.5rem solid var(--primary-light);
    border-top: 0.5rem solid var(--primary);
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-beer {
    width: 10vw;
    height: 10vh;
    margin-top: 1.25rem;
    margin-left: 0.8rem;
    filter: grayscale();
}

.empty-container {
    justify-content: center;
}

.filters-container {
    display: flex;
    margin: 2rem 0;
    justify-content: space-between;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.75rem;
    grid-auto-rows: minmax(30em, auto);
}

.grid-item {
    padding: 1rem;
    background-color: var(--glass);
    border-radius: 1.5rem;
}

.grid-item:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.beer-item-image-container {
    width: 100%;
    height: 25vh;
}

.beer-item-image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.beer-item-title {
    color: var(--primary-dark)
}

.beer-item-footer {
    margin-top: 2rem;
}