.action-button {
    border-radius: 0.5rem;
    padding: 0.5rem 1.5em;
    text-align: center;
    font-size: 2.25rem;
}

.action-button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.action-button:hover:active {
    background-color: var(--orange);
    color: var(--primary-dark);
}

.action-button.primary {
    background-color: var(--green);
    color: var(--primary-dark);
}

.action-button.secondary {
    background-color: var(--primary);
    color: var(--primary-light);
}

.action-button.inactive {
    background-color: var(--orange-light);
    color: var(--primary);
    border: 0.01rem var(--orange) solid;
    border-radius: 2rem;
}

.action-button.selected {
    background-color: var(--orange);
    color: var(--primary);
    border: 0.01rem var(--orange) solid;
    border-radius: 2rem;
}