.home-container {
    justify-content: center;
}

.home-sub-container {
    align-items: center;
    justify-content: space-around;
    margin-top: 10vh;
}

.home-content-container {
    display: flex;
    position: relative;
    align-items: flex-end;
    padding-right: 5vw;
}

.content {
    margin-bottom: 40vh;
    background-color: var(--glass);
    border-radius: 2rem;
    padding: 2rem;
    width: 30em;
    font-size: 2rem;
    line-height: normal;
    text-align: center;
}

.sub-content {
    background: linear-gradient(180deg, var(--primary), var(--secondary-dark) 150%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

@media (max-width: 1300px) {

    .home-sub-container {
        align-items: center;
        padding: 0 10rem;
        justify-content: center;
        margin-top: 20vh;
    }

    .home-content-container {
        display: flex;
        position: relative;
        align-items: flex-end;
        justify-content: center;
        margin-top: 5vh;
        padding: 0 2rem;
    }

    .beers-image {
        transform: scale(0.7) translateX(-25%);
        position: absolute;
        top: 0;
        left: 0;

    }

    .content {
        background-color: var(--glass);
        border-radius: 2rem;
        padding: 2rem;
        font-size: 2rem;
        line-height: normal;
        text-align: center;
    }
}

@media (max-width: 400px) {

    .home-sub-container {
        padding: 0 1rem;
        align-items: center;
        justify-content: center;
        margin-top: 20vh;
    }

    .home-sub-container h1 {
        font-size: 2rem;
    }

    .beers-image {
        transform: scale(0.4) translateX(-65%) translateY(10%);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;

    }
}