.sort-by-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 2rem 0;
    padding-left: 10rem;
    width: 100%;
}

.sort-by-sub-container {
    display: flex;
    align-items: center;
    padding-right: 1rem;
}

.sort-by-label {
    font-size: 2em;
    padding: 0 1rem;
}

#sort-select {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    border-radius: 2rem;
    padding: 0.8rem;
    align-items: center;
    justify-content: center;
    background-color: var(--orange);
    color: var(--primary);
    border: 0.01rem var(--orange) solid;
}

#sort-select:hover {
    cursor: pointer;
    transform: scale(1.05);
}

/* Style select options */
select option {
    background-color: var(--secondary-light);
    /* Set the option background color */
    color: var(--secondary);
    /* Set the option text color */
}

/* Style select on hover */
select:hover {
    background-color: var(--secondary-light-hover);
    /* Set hover background color */
}

select option {
    background-color: var(--secondary-light);
    /* Set the option background color */
    color: var(--secondary);
    /* Set the option text color */
    padding: 0.5rem;
    /* Add padding for spacing */
    font-size: 1rem;
    /* Set the font size */
}

/* Style select options on hover */
select option:hover {
    background-color: var(--secondary-light-hover);
    /* Set hover background color */
    color: var(--primary);
    /* Change text color on hover */
}

.sort-by-option {
    background-color: red;
}