.sort-by-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 2rem 0;
    padding-left: 10rem;
    width: 100%;
}

.sort-by-sub-container {
    display: flex;
    align-items: center;
    padding-right: 1rem;
}

.sort-by-label {
    font-size: 2em;
    padding: 0 1rem;
}

#sort-select {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    border-radius: 1.5rem;
    padding: 0.9rem 1.5rem;
    align-items: center;
    justify-content: center;
    background-color: var(--orange);
    color: var(--primary);
    border: 0.01rem var(--orange) solid;
}

#sort-select:hover {
    cursor: pointer;
    transform: scale(1.05);
}


@media (max-width: 1300px) {
    .sort-by-container {
        padding-left: 0;
        padding-top: 8vh;
    }
}

@media (max-width: 1200px) {
    .sort-by-container {
        flex-direction: column;
        padding-top: 3vh;
    }

    .sort-by-sub-container {
        margin-bottom: 1rem;
    }
}

@media (max-width: 900px) {
    .sort-by-container {
        padding-top: 13vh;
    }
}


@media (max-width: 700px) {
    .sort-by-sub-container {
        flex-direction: column;
    }
    #sort-select {
        padding: 0.9rem 1rem;
    }
}

@media (max-width: 550px) {
    .sort-by-container {
        padding-top: 25vh;
    }
    #sort-select {
        font-size: 1.2rem;
    }
}

@media (max-width: 400px) {
    #sort-select {
        font-size: 1rem;
    }
}

@media (max-width: 350px) {
    #sort-select {
        font-size: 0.5rem;
    }
}