.navbar.active {
    position: fixed;
    display: flex;
    background-color: var(--primary-dark);
    justify-content: space-between;
    top: 0rem;
    width: 100%;
    padding: 0.5rem 1rem;
    z-index: 100;
}

.navbar.hidden {
    display: none;
}

.navbar.scrollingBack {
    box-shadow: 0 0 1rem 0;
}

.navbar-logo {
    padding: 0 0.5rem;
}

.logo-container {
    display: flex;
}

.pages-container {
    display: flex;
    margin-right: 2rem;
    width: 90vw;
    justify-content: flex-end;
}