.filter-container {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

.filters {
    display: none;
    top: 10rem;
    left: 0;
    transform: translateX(10%);
    border-radius: 1.5rem;
    background-color: var(--secondary-light);
    border: 0.01rem var(--secondary) solid;
    box-shadow: 0.2rem 0.4rem 2rem 0.5rem rgba(59, 118, 149, 0.29);
    -webkit-box-shadow: 0.2rem 0.4rem 2rem 0.5rem rgba(59, 118, 149, 0.29);
    -moz-box-shadow: 0.2rem 0.4rem 2rem 0.5rem rgba(59, 118, 149, 0.29);
    width: 80vw;
    height: 60vh;
    position: absolute;
    z-index: 300;
}

.filters.show {
    display: block;
    padding: 1rem 2rem;
}

.filter-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close {
    float: right;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    z-index: 250;
    /* Place it above other content */
}

.overlay.active {
    display: block;
}