@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=New+Rocker&display=swap');


:root {
  --glass: rgba(255,247,230,0.2);
  --primary: #213e53;
  --primary-dark: #192f3e;
  --primary-light: #e9ecee;
  --secondary: #3b7695;
  --secondary-dark: #2c5970;
  --secondary-light: #ebf1f4;
  --secondary-light-hover: #e2eaef;
  --green: #afe052;
  --green-dark: #83a83e;
  --orange: #faaa03;
  --orange-light: #fff7e6;
  --orange-dark: #bc8002;
}

body {
  margin: 0;
  font-family: 'Bebas Neue', sans-serif, 'Alfa Slab One', cursive;
  color: var(--primary-dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--secondary-light-hover);
}

code {
  font-family: source-code-pro, monospace;
}

h1 {
  font-size: 4rem;
  font-weight: 500;
  font-family: 'Alfa Slab One', cursive;
}

.not-link {
  text-decoration: none;
}

.logo {
  color: var(--primary-light);
  font-family: 'New rocker', cursive;
}